.section-heading {
    margin-bottom: 60px;
}

.section-heading .heading-sub {
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 600;
}

.section-heading .heading-title {
    font-weight: 700;
    font-size: 29px;
    color: #2D2C40;
    line-height: 1.4;
}

.section-heading .heading-description {
    margin-top: 42px;
    font-size: 16px;
    color: #2D2C40;
    line-height: 1.5;
}

.section-heading .heading-description p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .section-heading {
        margin-bottom: 20px;
    }

    .section-heading .heading-title {
        font-size: 24px;
    }

    .section-heading .heading-description {
        margin-top: 20px;
    }
}

.button-theme {
    border-radius: 60px;
    padding: 11px 45px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-white);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.button-theme:hover {
    color: var(--bs-white);
}

.button-theme.button-gradient_main:before {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    transition: var(--transition-default);
    display: block;
    content: "";
    background: linear-gradient(93.49deg, var(--primary-color) 0%, var(--primary-black) 51.27%, var(--primary-color) 100%);
}

.button-theme.button-gradient_main:hover:before {
    left: 0;
}

.button-theme.button-gradient_secondary:before {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    transition: var(--transition-default);
    display: block;
    content: "";
    background: linear-gradient(93.49deg, rgba(185, 185, 185, 0.6) 0%, rgba(108, 108, 108, 0.6) 51.27%, rgba(214, 214, 214, 0.6) 100%);
}

.button-theme.button-gradient_secondary:hover:before {
    left: 0;
}

.button-theme.button-white {
    background: var(--bs-white);
    color: #2D2C40;
    font-weight: 600;
}

.button-theme.button-white:hover {
    color: var(--primary-color);
}

.swiper-actions .swiper-actions_inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.swiper-actions .swiper-actions_inner .swiper-actions_prev,
.swiper-actions .swiper-actions_inner .swiper-actions_next {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgba(var(--bs-white-rgb), .25);
    background-color: transparent;
    transition: var(--transition-default);
    color: var(--bs-white);
    font-size: 18px;
}

.swiper-actions .swiper-actions_inner .swiper-actions_prev:hover,
.swiper-actions .swiper-actions_inner .swiper-actions_next:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--bs-white) !important;
}

.swiper-actions .swiper-actions_inner .swiper-actions-pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    width: unset;
}

.swiper-actions .swiper-actions_inner .swiper-actions-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(var(--bs-white-rgb), .25);
    opacity: 1;
    margin: 0;
}

.swiper-actions .swiper-actions_inner .swiper-actions-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--bs-white);
}

@media screen and (max-width: 991px) {
    .swiper-actions .swiper-actions_inner {
        justify-content: center;
    }
}

.header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(var(--bs-white-rgb), .2);
    display: flex;
    align-items: center;
}

.header .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-main .header-logo img {
    height: 40px;
}

.header .header-navigation {
    margin-left: auto;
    padding-left: 30px;
}

.header .header-navigation .header-navigation_list {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header .header-navigation .header-navigation_list .navigation-item .navigation-item_link {
    height: 90px;
    padding-left: 22px;
    padding-right: 22px;
    color: var(--bs-white);
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
}

.header .header-navigation .header-navigation_list .navigation-item .navigation-item_link.navigation-item_link--active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-bottom-color: var(--primary-color);
}

.header .header-navigation .header-navigation_list .navigation-item .navigation-item_link:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.header.header-page {
    position: relative;
    background: var(--bs-white);
    border-bottom: 1px solid var(--bs-gray-300);
}

.header.header-page .header-navigation .header-navigation_list .navigation-item .navigation-item_link {
    color: #2D2C40;
}

.header.header-page .header-navigation .header-navigation_list .navigation-item .navigation-item_link:hover,
.header.header-page .header-navigation .header-navigation_list .navigation-item .navigation-item_link.navigation-item_link--active {
    background: #E9E9E9;
}

@media screen and (max-width: 991px) {
    .header {
        height: 75px;
        z-index: 10;
    }

    .header .header-navigation {
        position: fixed;
        top: 0;
        width: 285px;
        background: var(--bs-white);
        height: 100vh;
        z-index: 100;
        padding-left: 0;
        transition: var(--transition-default);
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        right: -150%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .is-navigation .header .header-navigation {
        right: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header .header-navigation .header-navigation_button {
        position: absolute;
        top: 27px;
        right: .95rem;
    }

    .header .header-navigation .header-navigation_contact {
        margin-top: auto;
        padding-bottom: 65px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header .header-navigation .header-navigation_contact .header-navigation_contact--item {
        display: flex;
        gap: 20px;
        font-size: 16px;
        color: #2D2C40;
    }

    .header .header-navigation .header-navigation_contact .header-navigation_contact--item:hover {
        color: var(--primary-color);
    }

    .header .header-navigation .header-navigation_list {
        flex-direction: column;
        gap: 0;
    }

    .header .header-navigation .header-navigation_list .navigation-item {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .header .header-navigation .header-navigation_list .navigation-item:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .header .header-navigation .header-navigation_list .navigation-item .navigation-item_link {
        border-bottom: 0;
        border-left: 10px solid transparent;
        color: #2D2C40;
        font-size: 16px;
        font-weight: 600;
        height: 70px;
    }

    .header .header-navigation .header-navigation_list .navigation-item .navigation-item_link.navigation-item_link--active {
        backdrop-filter: blur(0);
        background: transparent;
        border-left-color: var(--primary-color);
        color: var(--primary-color);
    }

    .header .header-hamburger .hamburger {
        margin-left: 8px;
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: var(--transition-default);
        -o-transition: var(--transition-default);
        transition: var(--transition-default);
    }

    .header .header-hamburger .hamburger:before,
    .header .header-hamburger .hamburger:after,
    .header .header-hamburger .hamburger > span {
        display: block;
        width: 24px;
        height: 2px;
        margin: 2.5px 0;
        background-color: var(--bs-white);
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    .header.header-page .header-hamburger .hamburger:before,
    .header.header-page .header-hamburger .hamburger:after,
    .header.header-page .header-hamburger .hamburger > span {
        background-color: #2D2C40;
    }

    .header .header-hamburger .hamburger:before, .header .header-hamburger .hamburger:after {
        content: "";
    }

    .is-navigation .header .header-hamburger .hamburger > span {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }

    .is-navigation .header .header-hamburger .hamburger:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 5px;
    }

    .is-navigation .header .header-hamburger .hamburger:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -11.5px;
    }

    .header .header-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        pointer-events: none;
        -webkit-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        transition: .5s all ease-in-out;
        z-index: 99;
    }

    .is-navigation .header .header-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.section-hero .swiper-actions {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 2;
    width: 100%;
}

.section-hero .hero-item {
    height: 83.5vh;
    padding-top: 90px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hero .hero-item:before {
    position: absolute;
    z-index: 1;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(40, 3, 29, 0.65), rgba(40, 3, 29, 0.65));
    opacity: .9;
}

.section-hero .hero-item .hero-content {
    display: flex;
    flex-direction: column;
}

.section-hero .hero-item .hero-content .hero-title {
    font-size: 40px;
    color: var(--bs-white);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 24px;
}

.section-hero .hero-item .hero-content .hero-description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--bs-white);
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .section-hero .hero-item .hero-content .hero-title {
        font-size: 32px;
    }

    .section-hero .hero-item {
        padding-top: 68px;
        padding-bottom: 100px;
    }
}

.section-why {
    background-color: #f5f5f5;
}

.section-why .why-top {
    padding: 128px 0 356px;
}

.section-why .why-top .section-heading .heading-description {
    margin-top: 40px;
}

.section-why .why-bottom {
    padding: 48px;
    border-radius: 20px;
    background-color: var(--bs-white);
    box-shadow: 0 13px 45px rgba(38, 5, 28, 0.12);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    transform: translateY(50%);
}

.why-card .card-body {
    position: relative;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.why-card .card-body:before {
    position: absolute;
    top: 60px;
    left: -1.5rem;
    height: calc(100% - 60px);
    width: 1px;
    display: block;
    content: "";
    background-color: #E0E0E0;
}

.section-why .why-bottom .col-lg-4:first-child .why-card .card-body:before,
.section-why .why-bottom .col-lg-4:nth-child(4) .why-card .card-body:before {
    display: none;
}

.why-card .card-body .card-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 24px;
}

.why-card .card-body .card-content .card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}

.why-card .card-body .card-content .card-description {
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    line-height: 1.5;
    margin-top: 16px;
}

@media screen and (max-width: 991px) {
    .section-why .why-top {
        padding-top: 84px;
        padding-bottom: 0;
    }

    .section-why .why-bottom {
        position: static;
        margin-top: -120px;
        transform: translateY(150px);
        margin-left: -.75rem;
        margin-right: -.75rem;
        width: calc(100% + 1.5rem);
        padding: 24px;
    }

    .section-why .why-top .section-heading .heading-description {
        margin-top: 0;
    }

    .why-card .card-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.section-feedback {
    padding-top: 448px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(71, 9, 52, 0.5) 0%, rgba(87, 20, 66, 0.9) 100%), url('../images/feedback/background.jpg') center center/cover, no-repeat, #000000;
}

.section-feedback .section-heading {
    text-align: center;
}

.section-feedback .section-heading .heading-sub {
    color: var(--primary-hover);
}

.section-feedback .section-heading .heading-title {
    color: var(--bs-white);
}

.feedback-card .card-header {
    border-radius: 20px !important;
    overflow: hidden;
    position: relative;
    transition: var(--transition-default);
}

.feedback-card .card-header .card-play {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    overflow: hidden;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback-card .card-header .card-play svg {
    stroke: var(--bs-white);
    transition: var(--transition-default);
    width: 24px;
    height: 24px;
}

.feedback-card .card-header .card-play:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.feedback-card .card-body {
    text-align: center;
    color: var(--bs-white);
    padding-top: 30px;
    transition: var(--transition-default);
}

.feedback-card .card-body .card-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}

.feedback-card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-hover);
}

.feedback-card .card-body .card-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 5px;
}

.section-feedback .swiper-actions {
    margin-top: 30px;
}

.section-feedback .swiper-actions .swiper-actions_inner {
    justify-content: center;
}

.section-feedback .swiper-slide .feedback-card .card-header:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    transition: var(--transition-default);
}

.section-feedback .swiper-slide .feedback-card .card-header .card-play,
.section-feedback .swiper-slide .feedback-card .card-body {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.section-feedback .swiper-slide.swiper-slide-active .feedback-card .card-header:after {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.section-feedback .swiper-slide.swiper-slide-active .feedback-card .card-header .card-play,
.section-feedback .swiper-slide.swiper-slide-active .feedback-card .card-body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (max-width: 991px) {
    .section-feedback {
        padding-top: 240px;
    }

    .section-feedback .swiper,
    .section-feedback .swiper-actions {
        max-width: calc(100% - 1.5rem);
        margin: 0 auto;
    }
}

.section-blogs {
    padding: 120px 0 0;
}

.blog-card {
    border-radius: 20px;
}

.blog-card .card-img {
    --bs-aspect-ratio: calc(4 / 3 * 100%);
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.blog-card:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(71, 9, 52, 0) 0%, #93156B 56.77%);
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    transition: var(--transition-default);
}

.blog-card .card-img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(71, 9, 52, 0) 0%, #25041B 72.92%);
    transition: var(--transition-default);
}

.blog-card:hover:after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.blog-card:hover .card-img:after {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.blog-card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    z-index: 3;
    transition: var(--transition-default);
}

.blog-card .card-body .card-title {
    color: var(--bs-white);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.blog-card .card-body .card-text {
    color: var(--bs-white);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.blog-card .card-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    z-index: 3;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
}

.blog-card:hover .card-body {
    bottom: 65px;
}

.blog-card:hover .card-buttons {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.blog-card .card-buttons .button-theme {
    padding-left: 20px;
    padding-right: 20px;
}

.section-blogs .swiper-actions {
    margin-bottom: 60px;
}

.section-blogs .swiper-actions .swiper-actions_inner .swiper-actions_prev,
.section-blogs .swiper-actions .swiper-actions_inner .swiper-actions_next {
    border-color: rgba(45, 44, 64, 0.25);
    color: #2D2C40;
}

.section-blogs .swiper-actions .swiper-actions_inner .swiper-actions-pagination .swiper-pagination-bullet {
    background: rgba(45, 44, 64, 0.2);
}

.section-blogs .swiper-actions .swiper-actions_inner .swiper-actions-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #2D2C40;
}

.section-blogs .section-blogs_slider {
    max-width: calc(100% - (100% - 1320px) / 2 - 0.75rem);
    margin-left: auto;
}

@media screen and (max-width: 991px) {
    .section-blogs {
        padding-top: 84px;
    }

    .section-blogs .section-blogs_slider {
        padding-left: .75rem;
    }

    .section-blogs .section-blogs_slider .swiper-actions {
        margin-bottom: 0;
        margin-top: 48px;
    }
}

.section-introduction {
    padding: 120px 0 0;
}

.section-introduction .introduction-bg {
    background: url('../images/introduction/background.jpg') center center/cover no-repeat;
    border-top-right-radius: 100px;
    height: 100vh;
    position: relative;
}

.section-introduction .introduction-content .introduction-content_inner {
    background: linear-gradient(180deg, rgba(71, 9, 52, 0.9) 0%, rgba(71, 9, 52, 0.8) 100%), url('../images/introduction/background-content.jpg') center center/cover no-repeat, #470934;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 0;
    transform: translateY(50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 48px 96px;
    gap: 40px;
}

@media screen and (min-width: 576px) {
    .section-introduction .introduction-content .introduction-content_inner {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .section-introduction .introduction-content .introduction-content_inner {
        max-width: 100%;
    }
}

@media screen and (min-width: 991px) {
    .section-introduction .introduction-content .introduction-content_inner {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .section-introduction .introduction-content .introduction-content_inner {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .section-introduction .introduction-content .introduction-content_inner {
        max-width: 1320px;
    }
}


.section-introduction .introduction-content .introduction-content_inner .introduction-content_text {
    font-size: 22px;
    color: var(--bs-white);
    font-weight: 500;
    line-height: 1.5;
}

.section-introduction .introduction-content .introduction-content_inner .introduction-content_buttons {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-introduction .introduction-content .introduction-content_inner .introduction-content_buttons .button-theme {
    width: 270px;
}

@media screen and (max-width: 991px) {
    .section-introduction {
        padding-top: 84px;
    }

    .section-introduction .introduction-bg {
        height: 50vh;
    }

    .section-introduction .introduction-content .introduction-content_inner {
        bottom: unset;
        top: 50vh;
        transform: translateX(-50%);
        padding: 48px 24px;
        border-radius: 0;
    }

    .section-introduction .introduction-content .introduction-content_inner .introduction-content_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .section-introduction .introduction-content .introduction-content_inner .introduction-content_buttons {
        flex-direction: column;
    }
}

.footer {
    background: #0B0008;
    padding-top: 375px;
}

.footer.footer-page {
    padding-top: 100px;
}

.footer .footer-information {
    padding-bottom: 32px;
}

.footer .footer-information .footer-inner {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer .footer-information .footer-inner .footer-logo {
    margin-bottom: 30px;
}

.footer .footer-information .footer-inner .footer-title {
    margin-bottom: 8px;
    font-size: 20px;
    color: #FF22BA;
    font-weight: 700;
}

.footer .footer-information .footer-inner .footer-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-white);
}

.footer .footer-information .footer-inner .footer-buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer .footer-information .footer-inner .footer-buttons .footer-button_item {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 16px;
    background: linear-gradient(135deg, rgba(255, 34, 186, 0.1) 0%, rgba(177, 18, 128, 0.1) 100%);
    color: var(--bs-white);
    font-size: 15px;
    border-radius: 60px;
    padding: 11px 45px;
    width: 250px;
}

.footer .footer-copyright {
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: var(--bs-gray-500);
}

@media screen and (max-width: 991px) {
    .footer {
        padding-top: calc(200px + 50vh);
    }
}

@media screen and (max-width: 600px) {
    .footer .footer-information .footer-inner .footer-buttons {
        flex-direction: column;
    }
}

.btn-return {
    position: fixed;
    right: 20px;
    bottom: 140px;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 52px;
    width: 52px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.btn-return.is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.btn-return:hover {
    background: var(--primary-hover);
}

@media screen and (max-width: 991px) {
    .btn-return {
        bottom: 60px;
        height: 42px;
        width: 42px;
        right: 15px;
    }
}

.btn-recruitment {
    position: fixed;
    right: 20px;
    bottom: 65px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 15px 35px;
    color: var(--bs-white);
    font-size: 15px;
    border-radius: 55px;
    font-weight: 500;
}

.btn-recruitment:hover {
    background: var(--bs-white);
    color: var(--primary-hover);
}

@media screen and (max-width: 991px) {
    .btn-recruitment {
        display: none;
    }
}

.section-contact {
    padding: 64px 0;
    background: #F5F5F5;
}

.contact-card {
    border-radius: 20px;
    box-shadow: 0 13px 45px rgba(38, 5, 28, 0.12);
}

.contact-card .card-header .ratio {
    --bs-aspect-ratio: calc(258 / 386.67 * 100%);
}

.contact-card .card-body {
    padding: 20px;
}

.contact-card .card-body .card-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #12253E;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
}

.contact-card .card-body .card-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-card .card-body .card-information .card-information_item {
    display: flex;
    gap: 15px;
}

.contact-card .card-body .card-information .card-information_item .information-item_content {
    color: #4D5D71;
    font-size: 15px;
    letter-spacing: 0.216667px;
    font-weight: 600;
    line-height: 1.5;
}

.contact-card .card-body .card-information .card-information_item .information-item_content.information-item_content--primary {
    color: var(--primary-color);
}

.contact-card .card-body .card-information .card-information_item .information-item_content.information-item_content--light {
    color: #97ACC6;
}

.contact-card .card-body .card-information .card-information_item .information-item_content > span {
    font-weight: 400;
}

.section-recruitment {
    padding: 64px 0;
    background: #F5F5F5;
}

.section-recruitment .recruitment-inner {
    padding: 64px 200px;
    border-radius: 20px;
    box-shadow: 0 13px 45px rgba(35, 5, 28, 0.12);
}

@media screen and (max-width: 991px) {
    .section-recruitment {
        padding-bottom: 0;
    }

    .section-recruitment .recruitment-inner {
        padding: 48px 24px;
        margin-left: -.75rem;
        margin-right: -.75rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.theme-form .form-item .form-item_label {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 8px;
}

.theme-form .form-item .form-item_field {
    position: relative;
}

.theme-form .form-item .form-item_input {
    height: 50px;
    padding: 12px 0;
    border: 0;
    outline: none;
    border-bottom: 1px solid #D3D6E2;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    box-shadow: none;
    background: transparent;
    width: 100%;
    position: relative;
}

.theme-form .form-item textarea.form-item_input {
    height: auto;
    resize: none;
}

.theme-form .form-item .form-item_select {
    cursor: pointer;
}

.theme-form .form-item .form-item_select .form-item_select--value {
    color: #ADADB5;
    padding-right: 50px;
}

.theme-form .form-item .form-item_select .form-item_select--value.is-value {
    color: #000000;
}

.theme-form .form-item .form-item_select .form-item_select--icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.theme-form .form-item .form-item_list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 13px 45px rgba(38, 5, 28, 0.12);
    display: flex;
    flex-direction: column;
    background: var(--bs-white);
    z-index: 20;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
}

.theme-form .form-item.show .form-item_list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.theme-form .form-item .form-item_list .form-item_list--option {
    display: flex;
    padding: 20px;
    color: #000000;
    transition: var(--transition-default);
}

.theme-form .form-item .form-item_list .form-item_list--option:hover,
.theme-form .form-item .form-item_list .form-item_list--option.active {
    background: #FBECF6;
}

.theme-form .form-item .form-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-form .form-item .form-star .form-star_label {
    font-size: 16px;
    font-weight: 400;
    color: #2D2C40;
}

.theme-form .form-item .form-star .form-star_numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: relative;
    gap: 12px;
}

.theme-form .form-item .form-star .form-star_numbers input {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.theme-form .form-item .form-star .form-star_numbers label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #f0dae9;
    transition: var(--transition-default);
}

.theme-form .form-item .form-star .form-star_numbers label:hover,
.theme-form .form-item .form-star .form-star_numbers label:hover ~ label,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label,
.theme-form .form-item .form-star .form-star_numbers input:checked + label:hover,
.theme-form .form-item .form-star .form-star_numbers input:checked + label:hover ~ label,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label:hover,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label:hover ~ label,
.theme-form .form-item .form-star .form-star_numbers label:hover ~ input:checked ~ label {
    color: #FFC122;
}

.theme-form .form-item .form-star .form-star_numbers label:hover .fas,
.theme-form .form-item .form-star .form-star_numbers label:hover ~ label .fas,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label .fas,
.theme-form .form-item .form-star .form-star_numbers input:checked + label:hover .fas,
.theme-form .form-item .form-star .form-star_numbers input:checked + label:hover ~ label .fas,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label:hover .fas,
.theme-form .form-item .form-star .form-star_numbers input:checked ~ label:hover ~ label .fas,
.theme-form .form-item .form-star .form-star_numbers label:hover ~ input:checked ~ label .fas {
    font-weight: 900;
}

@media screen and (max-width: 991px) {
    .theme-form .form-item .form-star .form-star_numbers {;
        gap: 8px;
    }

    .theme-form .form-item .form-star .form-star_numbers label {
        font-size: 1.1rem;
    }
}

.section-review {
    padding: 64px 0;
    background: #F5F5F5;
}

.section-review .review-inner {
    padding: 64px 300px;
    border-radius: 20px;
    box-shadow: 0 13px 45px rgba(35, 5, 28, 0.12);
}


.section-review .review-inner .review-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.94deg, #861462 -3.38%, #CB1A94 108.45%);
    padding: 26px 45px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}

.section-review .review-inner .review-header:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('../images/review/background.png') center center / cover no-repeat
}

.section-review .review-inner .review-header .review-header_item {
    position: relative;
    z-index: 2;
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: calc(50% - 15px);
    padding: 0 15px;
    gap: 5px;
}

.section-review .review-inner .review-header .review-header_item .review-header_item--text {
    font-size: 14px;
    font-weight: 500;
}

.section-review .review-inner .review-header .review-header_item .review-header_item--title {
    font-size: 16px;
    font-weight: 700;
}

.section-review .review-inner .review-header .review-header_item + .review-header_item:before {
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, 0.31);
    height: 100%;
    left: 0;
    display: block;
    content: "";
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 991px) {
    .section-review {
        padding-bottom: 0;
    }

    .section-review .review-inner {
        padding: 48px 24px;
        margin-left: -.75rem;
        margin-right: -.75rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .section-review .review-inner .review-header {
        padding: 15px;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .section-review .review-inner .review-header .review-header_item {
        width: 100%;
    }

    .section-review .review-inner .review-header .review-header_item + .review-header_item {
        margin-top: 20px;
        padding-top: 20px;
    }

    .section-review .review-inner .review-header .review-header_item + .review-header_item:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        height: 1px;
        border-left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.31);
    }
}